@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behaviour: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50 h-[200vh]
}

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10
  rounded-xl ring-inset ring-1 ring-zinc-50/[0.02]
  backdrop-blur-2xl hover:bg-zinc-50/15 transition-[transform,background-color] active:scale-95
}